/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

/* Remove Default Padding */

ul {
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/*** Main Styling ***/

:root {
  --border: 1px solid red;
  --light-grey: #b6b6b6;
  --super-light-grey: #f3f3f3;
  --dark-grey: #444444;
  --grey-highlight: #949494;
  --berry: #c44061;
  --high-priority: #ff5e00;
}

body {
  font-family: Calibri, Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(220, 210, 255);
}

.btn {
  background: var(--light-grey);
  border-radius: .4rem;
  border: none;
}

.btn:hover {
  background: #949494;
  color: rgb(238, 238, 238);
  cursor: pointer;
}

.hide {
  visibility: hidden;
}

/* Header */

header nav h1 {
  text-align: center;
  font-size: 2rem;
}

/* Page Container */

.page-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Project */

.projects-container {
  width: 0 auto;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));  
  gap: 2rem;
}

.project {
  height: 150px;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border-radius: 1rem;
  background: var(--light-grey);
  background: url('images/folder.svg') no-repeat center;
}

.project span {
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 7px rgb(80, 80, 80);
  background: white;
}

.new-project {
  background: url('images/new-folder.svg') no-repeat center;
}

/* Project Plus Button */

.button_plus {
  position: relative;
  width: 40px;
  height: 40px;
  background: #fff;
  cursor: pointer;
  border: 2px solid var(--light-grey);
}

.button_plus:after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  height: 4px;
  width: 75%;
  background: var(--light-grey);
  top: 50%;
  left: 50%;
}

.button_plus:before {
  content: '';
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--light-grey);
  height: 75%;
  width: 4px;
}

.new-project:hover .button_plus:before,
.new-project:hover .button_plus:after {
  background: #fff;
  transition: 0.2s;
}

.new-project:hover .button_plus {
  background-color: var(--dark-grey);
  border: 1px solid white;
  transition: 0.2s;
}

/* Modal */

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(55,55,55,.7);
}

.modal-main {
  max-height: 90%;
  max-width: 90%;
  min-width: 50vw;
  padding: 1rem;
  border-radius: .5rem;
  background: var(--berry);
}

@media (max-width: 900px) {
  .modal-main {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .modal-main {
    width: 90%;
  }
}

.modal-main .close-btn {
  float: right;
}

.modal-main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-main form * {
  margin-top: 1rem;
  display: block;
  text-align: center;
}

/* Form */

form * {
  font-size: 1.5rem;
}

form input[type=text] {
  padding: .2rem;
}

form input[type=text]:focus {
  box-shadow: 0 0 5px 5px rgb(80, 80, 80, 0.5);
  border: none;
  outline: none;
}

input,
select,
textarea {
  border-radius: .3rem;
  border: none;
  background-color: var(--super-light-grey);
}

/* Content Container */

.content-container {
  clear: both;
  margin-top: 2.3rem;
  padding: 1rem 1rem;
}

@media (max-width: 500px) {
  .content-container {
    padding: 0;
  }
}

/* New Project Content */

.new-project-content {
  padding: 2rem;
}

@media (max-width: 500px) {
  .new-project-content {
    padding: 2rem 1rem;
  }
}

/* Project Content */

.project-content > h1 {
  display: inline-block;
  margin-bottom: 1rem;
  border: var(--border);
}

.project-content button {
  padding: .2rem 1rem;
  margin-bottom: .5rem;
  border-radius: .5rem;
  border: none;
  font-style: italic;
  cursor: pointer;
  background: var(--light-grey);
}

.project-content button:hover {
  background: var(--grey-highlight);
  color: var(--super-light-grey);
}

.project-content .menu-container {
  position: relative;
  float: right;
  border: var(--border)
}

.project-content .menu-toggle {
  float: right;
}

.project-content .project-menu-toggle {
  padding-top: .8rem;
}

.project-content .menu-toggle::after {
  content: '\2807';
  font-size: 1.4rem;
  padding-left: .2rem;
  cursor: pointer;
}

.project-content .menu {
  position:absolute;
  left: -75px;
  font-size: .9rem;
  box-shadow: 2px 2px 5px #646464c2;
}

.project-content .project-menu {

}

.project-content .delete-menu-item {
  padding: 0 .3rem;
  cursor: pointer;
  background: var(--light-grey);
}

.project-content .delete-menu-item:hover {
  color: white;
  background: var(--grey-highlight);
}

.project-content .delete-menu-item:active {
  background: red;
}

.project-content .delete-icon {
  display: inline-block;
  margin-left: .7rem;
}

.project-content button {
  display: block;
}
/* .project-content {
  padding: 0 2rem;
}

@media (max-width: 500px) {
  .project-content {
    padding: 1rem 1rem;
  }
} */

/* Todos */

.todo {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0 .5rem;
  border-bottom: 1px solid rgba(161, 161, 161, 0.4);
  cursor: pointer;
  border: var(--border)
}

.todo :nth-child(2) {
  margin-left: auto;
  /* Pushes last 2 items in todo to the right */
}

.todo:hover {
  background: rgba(199, 199, 199, 0.3)
}

.todo h2 {
  font-size: 1.4rem;
}

.todo-priority {
  font-size: .95rem;
  padding: 0 .5rem;
  border-radius: .5rem;
  text-align: center;
  background: var(--light-grey);
}

.todo .high {
  background: var(--high-priority);
}

.todo .medium {
  background: rgb(252, 140, 76);
}

.todo .low {
  background: rgb(253, 196, 162);
}

/* Todo Content */

.todo-content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.todo-content * {
  padding: .3rem .5rem;
  text-align: center;
}

.todo-content .todo-title,
.todo-content .todo-description {
  align-self: stretch;
  border-radius: .3rem;
  border: 1px solid rgb(238, 238, 238, .2);
}

.todo-content .todo-title:hover,
.todo-content .todo-description:hover {
  border-radius: .3rem;
  background: rgb(238, 238, 238, .5);
}

.todo-description:empty:hover::after {
  content: "add a description";
  font-style: italic;
  font-size: .9rem;
  color: var(--dark-gray);
}

.todo-content .todo-description {
  max-height: 8rem;
  overflow: auto;
}

.todo-content .todo-title {
  max-height: 7rem;
  overflow: auto;
}

/* Errors */

.error {
  font-size: .8rem;
  color: rgb(0, 255, 55);
  border: 1px solid rgb(0, 255, 55);
}



